<footer class="bg-info">
    <div class="container footer py-5">
        <span class="copyright ">
          &copy; 2014 <a href="#" class="font-weight-bold">tulus</a>driyo. All Rights
          Reserved.
        </span>
        <ul class="list-unstyled list-inline mb-0 ">
            <li class="list-inline-item social mx-2"><a class="social__link target=_blank" href="#"><i class="social__icon fab fa-behance"></i></a></li>
            <li class="list-inline-item social mx-2"><a class="social__link target=_blank" href="#"><i class="social__icon fab fa-linkedin"></i></a></li>
            <li class="list-inline-item social mx-2"><a class="social__link target=_blank" href="#"><i class="social__icon fab fa-google"></i></a></li>
            <li class="list-inline-item social mx-2"><a class="social__link target=_blank" href="#"><i class="social__icon fab fa-facebook"></i></a></li>
            <li class="list-inline-item social mx-2"><a class="social__link target=_blank" href="#"><i class="social__icon fab fa-twitter"></i></a></li>
        </ul>


    
        
      </div>
</footer>