
@import 'bootstrap/bootstrap';
@import 'variables';
@import 'mixins';
@import 'slick';
// @import 'animate';
html {
    font-size: 14px;
    scroll-behavior: smooth;
}

section {
    overflow: hidden;
}

img {
    width: 100%;
}

.cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    text-align: center;
    &{
        font-size: 1.5rem;
    }
    
    &--hero{
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        min-height: 100vh;
        background-image: linear-gradient($light-purple, $light-purple), url(../img/header.png);
    }
    
    &--about{
        background-color: $purple;
        background-image: linear-gradient($purple, $purple), url(../img/about.png);
        min-height: 560px;
    }

    &--services{
        background-color: $purple;
        background-image: linear-gradient($purple, $purple), url(../img/services.png);
        min-height: 800px;
    }

    &--work{
        background-color: $indigo;
        background-image: linear-gradient($indigo, $indigo), url(../img/works.png);
        min-height: 1000px;
    }
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;

    &--pinned {
        transform: translateY(0%);
        background-color: rgba($color: ($light-purple), $alpha: .95);
    }

    &--unpinned {
        transform: translateY(-100%);
    }

    &--top {
        background-color: transparent;
    }
}

h1{
    color: $gray-100;
    margin: 100px auto;
}

.h2-about{
    color: $gray-50;
}

.subtitle{
    color: $gray-200;
    font-style: italic;
    font-family: $font-family-base;
}

.navbar-light .navbar-nav .nav-link{
    @include hover{
        color: $secondary;
    }
}

.large-py{
    padding: 100px 0 120px;
}

a {
    text-decoration: none;
    @include hover {
        .h2-about{
            color: $secondary;
            
        }
       
    }
}

.services{
    height: 400px;
    font-family: $font-family-base;
    
    & a{
        color: $secondary;
        @include hover{
            color: $purple;
        }
    }
    
    
    &__name{
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-size: 1.7rem;
    }
    &__subtitle{
        font-size: 1.2rem;
    }
}

.blockquote{
    &__author::before,
    &__author::after{
            content: '-';
            color:$secondary;
    }
}

.footer{
    display: flex;
    justify-content:space-between;
    
}

.copyright{
    font-size: 18px;
    color: $primary;
}

.social{
    display: inline-block;
    list-style: none;

    &__link {
    width: 30px;
    height: 30px; 
    background-color: $primary; 
    color: $purple;
    display: inline-block; 
    text-align: center;
    vertical-align: baseline;
    border-radius: 50%;  
    }

    &__icon {
        color: $purple;
        background-color: $primary; 
        vertical-align: sub;
        @include hover {
            color: $secondary;
        }
    }
}

#map{
    min-height: 900px;
    background-color: $light-purple;
    position: relative;
}

.form{
    margin-top: 270px;
    &__btn{
        background-color: $purple;
        border: none;
        border-radius: 10px;
        font-size: 1.4rem;
        font-family: $font-family-heading;
    }
}

.svg-up{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  @include hover {
    transform: translate(-50%,-90%);
}
}

.footer__up{
    width: 88px;
    height: 88px;
    background-color: fade-out($purple, .5);
    position: absolute;
    bottom: 14%;
    right: 5%;
    text-align: center;
    @include hover {
        background-color: fade-out($purple, 0);
    }
}


.team{
    // position: absolute;
    // min-height: 820px;
    &__card{
        margin: 0 15px;
        position: relative;
        padding-top: 110px;
        z-index: 5;
    }

    &__img{
        border: 16px solid $body-bg;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        width: 235px;
        height: 235px;
        position: absolute;
        top: 0; 
        left: 50%;
        transform: translateX(-50%); 
    }

    &__info {
        background-color: $primary;
        padding: 160px 0 0;
    }
    &__name {
        text-transform: uppercase;
        font-size: 1.7rem;
        font-family: $font-family-heading;
        color: $purple;
        font-weight: 700;
    }
    &__position {
        margin:30px 0;
        font-style: italic;
        font-size: 1.7rem;
    }

    &__socials{
        background-color: $purple;
        padding: 20px 0;
    }
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    z-index: 10;
    
    &--left {
        left: -5%;
    }
    &--right {
        right: -5%;
    }

}